# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
.obsidian/core-plugins.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/appearance.json
.obsidian/workspace.json
