background color Ballet, Pale Pink: #f7d3d6;
background color Flamingo Pink: #FC8EAC;
h1 flamingo color: #FC8EAC;
h2 Watermelon color Begonia / Ultra Red: #FC6C85;
link color Deep Pink: #FF1493; /* This is a deep pink */
link button background-color Embarressed { color: #fb6f92; }
Hot Pink: #FF69B4;
Salmon Pink: #FD899D;
Baby Pink: #f4c2c2;
Baker-Miller Pink { color: #ff91af; }
Bubble Gum { color: #ffc1cc; }
Carnation Pink { color: #ffa6c9; }
Cherry Blossom Pink { color: #ffb7c5; }
Champagne: #f7e2d3;
Rock N Rose: #ff8fab;

/* Valentine Mug Pallette */
Whisper: #eae0df;
Seal Brown: #190d0a;
Mauvelous: #ef84b1;
Hippie Pink: #aa4f5a;
Melanie: #ddaebd;
Sour Dough: #c8b693;
Nepal: #97afbd;

/* https://colorkit.co */

/* Girl Zine Palette */
/* List */
c095e4, fcedf2, ffd1d4, ffb7c5, ffa0c5
#c095e4, #fcedf2, #ffd1d4, #ffb7c5, #ffa0c5

/* Comma Seperated */
c095e4,fcedf2,ffd1d4,ffb7c5,ffa0c5
#c095e4,#fcedf2,#ffd1d4,#ffb7c5,#ffa0c5

/* Array */
["c095e4","fcedf2","ffd1d4","ffb7c5","ffa0c5"]
["#c095e4","#fcedf2","#ffd1d4","#ffb7c5","#ffa0c5"]

/* Pink Fade */
<span class=comment>/* List */</span>
ffe5ec, ffc2d1, ffb3c6, ff8fab, fb6f92
#ffe5ec, #ffc2d1, #ffb3c6, #ff8fab, #fb6f92

<span class=comment>/* Comma Seperated */</span>
ffe5ec,ffc2d1,ffb3c6,ff8fab,fb6f92
#ffe5ec,#ffc2d1,#ffb3c6,#ff8fab,#fb6f92

<span class=comment>/* Array */</span>
["ffe5ec","ffc2d1","ffb3c6","ff8fab","fb6f92"]
["#ffe5ec","#ffc2d1","#ffb3c6","#ff8fab","#fb6f92"]

.rainbow {
    background: linear-gradient(90deg, #f681ae, #f38282, #f7d54d, #6ed46e, #3ed3da, #a48ac9 100%);

/* Dracula Theme */
Background: #282A36;
Foreground: #F8F8F2
Selection
#44475A
Comment
#6272A4
Red
#FF5555
Orange
#FFB86C
Yellow
#F1FA8C
Green
#50FA7B
Purple
#BD93F9
Cyan
#8BE9FD
Pink
#FF79C6