body {
   /*
    background: linear-gradient(to bottom, #f7d3d6, #FC8EAC);
    */
    background: linear-gradient(to bottom, #f9dee1, #f7d3d6, #fab1c1, #FC8EAC, #fc7d99 );
}

.post {
    display: block;
    background-color: #f7d3d6;
    border: solid 2pt;
    border-color: white;
    padding: 10pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
}

.blog-post {
    display: block;
    background-color: #f7d3d6;
    border: solid 2pt;
    border-color: white;
    padding: 10pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    margin-bottom: 10pt;
}

.post-preview {
    display: block;
    background-color: #f7d3d6;
    border: solid 2pt;
    border-color: white;
    padding: 5pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    margin-bottom: 10pt;
}
.post-meta {
    
}

#full-tags-list {
    display: block;
    background-color: #f7d3d6;
    border: solid 2pt;
    border-color: white;
    padding: 10pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    margin-bottom: 10pt;
    margin-top: 10pt;
}

.navbar-brand a {
    color: #ffffff;
}
.intro-header .page-heading h1 {
    background: linear-gradient(183deg, #f9c2cc 10%, #FC8EAC 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 10pt;
}
.post-title {
    color: #FC8EAC;
}
.post-subtitle a {
    color: #FC6C85;
}
.post-meta {
    color: #fb6f92;
}
.extra-meta {
    
}
.blog-tags a {
    color: #FC6C85;
    padding: 2pt;
    background-color: #f7d3d6;
    
}
.blog-tags a:hover, a:focus {
    color: #ffffff;
    background: linear-gradient(183deg, #f9c2cc 10%, #FC8EAC 70%);
    border-color: #FC6C85;
}
.post-preview .blog-tags {
    color: #fb6f92;
}

.post-heading {
    color: #FC8EAC;
}
.post-read-more a {
    color: #fb6f92;
}

.tag-btn {
    background: linear-gradient(90deg, rgba(255,160,197,1) 18%, rgba(149,205,228,1) 50%, rgba(192,149,228,1) 100%);
    border: 1px solid #a781c6;
    font-weight: 500;
}

.tag-btn a:hover a:focus a:active {
    border: 1px solid #fb6f92;
}

.fas .fa-tag {
    background-color: #c095e4;
}

.linked-section {
    color: #c095e4;
}
.tag-entry a {
    color: #000000;
}
.tag-entry a:hover a:focus {
    background: linear-gradient(90deg, rgba(255,160,197,1) 18%, rgba(149,205,228,1) 50%, rgba(192,149,228,1) 100%);
    color: #ffffff;
    padding: 4px;
}
.commentbox {
    display: block;
    background-color: #f7d3d6;
    border: solid 2pt;
    border-color: white;
    padding: 5pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    margin-top: 10pt;
}

footer {
    border-top: 1px #fb6f92 solid;
}