body {
   /*
    background: linear-gradient(to bottom, #f7d3d6, #FC8EAC);
    */
    background: linear-gradient(to bottom, #f9dee1, #f7d3d6, #fab1c1, #FC8EAC, #fc7d99 );
}

.post {
    display: block;
    background-color: #f7d3d6;
    border: solid 2pt;
    border-color: white;
    padding: 10pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    font-weight: 300;
}

.blog-post {
    display: block;
    background-color: #f7d3d6;
    border: solid 1pt;
    border-color: #FC8EAC;
    padding: 10pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    margin-bottom: 10pt;
    font-weight: 300;
}

.blog-post img {
  border: 2pt solid white;
}

.blog-post a {
    font-weight: 400;
    text-decoration: underline;
}

.blog-post a:hover, .blog-post a:focus  {
    background: linear-gradient(90deg, #ffa0c5 18%, #95cde4 50%, #c095e4 100%);
    color: #ffffff;
    font-weight: 600;
}
.blog-post h2 {
    color: #fb6f92;
}

/* Quote of Many Colors */
.blog-post blockquote {
    font-style: normal;
    background-color: #fab1c1;
    font-weight: 400;
    color: #404040;
    border-image: linear-gradient(180deg, #f681ae, #f38282, #f7d54d, #6ed46e, #3ed3da, #a48ac9 100%);
    border-image-slice: 1;
    border-top: 0.1rem solid #FC8EAC;
    border-right: 0.1rem solid #FC8EAC;
    border-bottom: 0.1rem solid #FC8EAC;
}

.blog-post blockquote em {
    font-style: italic;
    font-weight: 300;
    font-size: 0.95em;
}

.blog-post blockquote::before{

  content: open-quote;
  top: 0rem;
  right: 0rem;
  font-family: ivyjournal, serif;
  font-size: 2rem;
  font-weight: bold;
  color: #f7d3d6;

}

.blog-post blockquote::after{
  /*Reset to make sure*/
  content: "";
  font-family: ivyjournal, serif;
  font-size: 3rem;
  font-weight: bold;
  color: #f7d3d6;
}

.post-preview {
    display: block;
    background-color: #f7d3d6;
    border: solid 1pt;
    border-color: #FC8EAC;
    padding: 5pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    margin-bottom: 10pt;
}
.post-meta {
    
}
.bookheader {
    text-align: right;
    margin-bottom: 2pt;
    font-size: 90%;
    font-weight: 400;
}

#full-tags-list {
    display: block;
    background-color: #f7d3d6;
    border: solid 2pt;
    border-color: white;
    padding: 10pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    margin-bottom: 10pt;
    margin-top: 10pt;
}

.navbar-brand a {
    color: #ffffff;
}
.intro-header .page-heading h1 {
    background: linear-gradient(183deg, #f9c2cc 10%, #FC8EAC 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 10pt;
}
.post-title {
    color: #FC8EAC;
}
.post-subtitle a {
    color: #FC6C85;
}
.post-meta {
    /* color: #fb6f92; */
    color: #404040;
}
.extra-meta {
    border-style: solid;
    border-width: 1pt;
    border-image: linear-gradient(90deg, #ffa0c5 18%, #95cde4 50%, #c095e4 100%);
    border-image-slice: 1;
    padding: 2pt;
    background-color: #f9dee1;
    font-size: 1rem;
    color: #404040;
}

.rainbow {
    background: linear-gradient(90deg, #f681ae, #f38282, #f7d54d, #6ed46e, #3ed3da, #a48ac9 100%);
}
.blog-tags {
    /*
    background: linear-gradient(90deg, rgba(255,160,197,1) 18%, rgba(149,205,228,1) 50%, rgba(192,149,228,1) 100%);
    padding: 5pt;
    */
    font-weight: 500;
}
.blog-tags a {
    color: #FC6C85;
    padding: 2pt;
    margin-bottom: 2pt;
    background-color: #f7d3d6;
    
}
.blog-tags a:hover, a:focus {
    color: #ffffff;
    background: linear-gradient(183deg, #f9c2cc 10%, #FC8EAC 70%);
    border-color: #FC6C85;
    margin-bottom: 2pt;
}
.post-preview .blog-tags {
    color: #fb6f92;
}

.post-heading {
    color: #FC8EAC;
}
.post-read-more a {
    color: #fb6f92;
}

.spoilers {
    padding: 10pt;
    border-style: solid;
    border-width: 3pt;
    border-radius: 10px;
    border-image: linear-gradient(90deg, #f681ae, #f38282, #f7d54d, #6ed46e, #3ed3da, #a48ac9 100%);
    border-image-slice: 1;
    background-color: #282A36;
    color: #ffb7c5;
    font-weight: 400;
}

.tag-btn {
    background: linear-gradient(90deg, #ffa0c5 18%, #95cde4 50%, #c095e4 100%);
    border: 1px solid #a781c6;
    font-weight: 500;
}

.tag-btn a:hover a:focus a:active {
    border: 1px solid #fb6f92;
}

.fas .fa-tag {
    background-color: #c095e4;
}

.linked-section {
    color: #c095e4;
}
.tag-entry a {
    color: #000000;
}
.tag-entry a:hover a:focus {
    background: linear-gradient(90deg, #ffa0c5 18%, #95cde4 50%, #c095e4 100%);
    color: #ffffff;
    padding: 4px;
}
.commentbox {
    display: block;
    background-color: #f7d3d6;
    border: solid 2pt;
    border-color: white;
    padding: 5pt;
    margin: auto;
    text-align: justify;
    max-width: 1024px;
    border-radius: 10px;
    margin-top: 10pt;
}
.blog-reply {
    background-color: #f7d3d6;
    text-align: center;
}
.blog-reply a:hover, .blog-reply a:focus  {
    background: linear-gradient(90deg, #ffa0c5 18%, #95cde4 50%, #c095e4 100%);
    color: #ffffff;
    font-weight: 600;
}

hr {
    background: linear-gradient(90deg, #ffa0c5 18%, #95cde4 50%, #c095e4 100%);
}

footer {
    border-top: 1px #fb6f92 solid;
}